.article_categories {
	display:grid;
	align-items:center;
	justify-content: center;
	grid-template-columns: auto auto;
}

.category {
	background-color: #7d7cfe;
	min-width: 250px;
	max-width: 250px;
	min-height: 150px;
	padding:0px 20px 10px;
	margin:20px;
	line-height: 1;
}

@media all and (max-width: 700px) {
	.article_categories {
		grid-template-columns: auto;
	}
}

a {
	/*color: #00c7fe;*/
	color: #b6f7f7;
}

body {
	font-family: sans-serif ;
	color: #fff ;

	background-repeat: repeat;
	background-color: #111111;
	background-image: url('diagonal.png');
}

.homepage {
	animation: grid_move 9s linear infinite;
}

@keyframes grid_move {
	0% { background-position: 0px 0px }
	100% { background-position: -200px -200px }
}

main {
	min-height: 750px;
	min-width: 400px ;
	max-width: 850px ;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;

	padding-bottom: 10px;

	line-height: 1.5;

	background: #1b1725 ;
	margin: auto ;
}

img {
	max-width: 100% ;
	display: block;
	margin: auto;
}

h1 {
	text-align: center ;
	font-size: 35px ;
}


header h1 {
	text-align: left ;
	line-height: 1;
	font-size: 50px ;
}

footer {
	text-align: center ;
	color: #000000;
	vertical-align: bottom;
	clear: both ;
}

/* For TAGLIST.HTML */
.taglist {
	text-align: center ;
	clear: both ;
}

/* For NEXTPREV.HTML */
#nextprev {
	/* The container for both the previous and next articles. */
}
#prevart {
	float: left ;
	text-align: left ;
}
#nextart {
	float: right ;
	text-align: right ;
}
#nextart,#prevart {
	max-width: 33% ;
}
